<% include ./partials/header %>
<style>
ul li{
    list-style:none;
    }
form{
    margin:0px auto;
    width:50%;
    }
#card{
    float:left;
    width:22%;
    }
.jumbotron{
    background:linear-gradient(darkblue,darkblue,blue);
    height:180px;
    background-repeat:none;
    color:green;
    margin-bottom:0px;
    }
   a{      
    color:black;
    }
a:hover{
    color:black;
    text-decoration:none;
    }
.list-group-item:hover{
    background:green;
    border-color: #17a2b8;
    transition:0.5s;
    }
.list-group-item:active{
    background:black;
    color:white;
    text-decoration:none;
    }
 .badge{
    background:none;
    font-size:35px;
    font-family: "Nova Square";
    }
 .eye{
    font-family: "Dancing Script";
    font-size: 64px;
    color:green;
    }
  .platformlogo{
    margin:0px auto;
    }
  .carousel-control-prev-icon{
    color:black;
    font-weight:bolder;
    font-size:25px
    }
  .carousel-control-next-icon{
    color:black;
    font-weight:bolder;
    font-size:25px
    }
  #topservice{
    font-size:30px;
    }
  .carousel-indicators li{
    background:black;
    }
  .carousel-indicators .active{
    background:green;
    }
  .w3-sidebar>a{
    transition: 1s;
    }
  #navcontainer{
    margin-top:180%;
    }
  .blockquote1{
    border-left:6px solid black;
    border-radius:2px;
    }
  .blockquote2{
    border-right:6px solid black;
    border-radius:2px;
    }
  .icon:hover{
    color:green;
    }
.elevate{
            transform:scale(1.2);
        }
   .animbtn{
       position:relative;
       display:block;
       box-shadow:0 4px darkblue;
   }
 

@media screen and (max-width: 720px) {       
      #card{
          color:white;
          width:45%;
           }
      .header .description{
          color:white;
           }
      .jumbotron{
          background:linear-gradient(blue,darkblue,darkblue);
          height:150px;            
          margin-bottom:0px;
           }
      form{
          margin:0px auto;
          width:70%;
          }
      .navbar{
          overflow:scroll;
          border-bottom:0.5px solid white;
          }
      .navbar-toggler{
          border: 2px solid black;
          background:linear-gradient(lightblue,blue,blue);
          }
      .navbar-toggler-icon{
          background:linear-gradient(lightblue,blue,blue);
          }
      button:focus{
          outline:none;
          }
      .navbar-dark .navbar-nav .nav-link{
          background:white;
          color:black;
          font-weight:600;
          border-bottom:0.2px solid lightgray;
          font-family: Coda;
          font-style: normal;
	      font-variant: normal;
          }
      .navbar-dark .navbar-nav .nav-link:active{
          color:blue;
       } 
      .navbar-dark .navbar-brand{
          font-size:1.45rem;
          font-weight:bolder;
          font-family: Ubuntu;
          color:black;
          }
      .badge{
          background:black;
          color:green;
          }
      #categoryhide{
          display:none;
          }
      .cathead{
          display:none;
          }
      .navbar-dark .navbar-toggler{
          border-color:darkblue;
          }
      .topservices{
          display:none;
          background:linear-gradient(darkblue,darkblue,blue);
          }
      .img-fluid{
          max-width:100%;
          height:200px;
          }
      #topservice{
          color:white;
          font-size:1.25rem;
          font-weight:bolder;
          }
      #newcategory{
          background:lightblue;
          }
      .badge{
          font-size:35px;
          font-family: "Nova Square";
            }
      #thanos{
          margin-left:0%;
          color:black;
          padding:0.2em;
          font-size:28px;
          font-family: "Sigmar One";
             }
      .carousel-indicators li{
        background:black;
            }
      .carousel-indicators .active{
          background:darkblue;
            }
      .fa-user{
          font-size:25px;
      }
      #w3-sidebar{
          display:none;
          }
      div.scrollmenu {
          background-color:white;
          overflow: auto;
          overflow-x:auto;
          overflow-y:hidden;
          white-space: nowrap;
          }
      div.scrollmenu a {
          display: inline-block;
          color: white;
          text-align: center;
          padding: 14px;
          text-decoration: none;
          width:60%;
          }
      div.scrollmenu a:hover {
          background-color: #777;
          }
      .cardsmall {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transition: 0.3s;
          width: 40%;
          }
      .cardsmall:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
      .containersmall {
          padding: 2px 16px;
          }
      #topsmallscreen{
          text-align:center;
          margin-left:30%;
          margin:10px auto;
          font-weight:bolder;
          font-size:1.45rem;
          font-family: Ubuntu;
          color:black;
          }
      #scrollmenu{
          margin-top:40px;
          }
      #large{
          display:none;
          }
      .ui.button, .ui.buttons .button, .ui.buttons .or {
          font-size: 0.7rem;
          }
      .quote{
          width:50%;
          float:left;
          font-size:15px;
        }
        
    }
@media screen and (min-width: 720px) {
      .navbar {
          display:none;
          }
      #scrollmenu{
    display:none;
          }
        #loginlogo{
            font-family:"Nova Square";
        }
       #loginlogo:hover{
            color:blue;
       }
       .dark{
         margin-top:6%;
       }
       #otherservicessmall{
           display:none;
       }
}
 @media screen and (max-width: 380px) {
      #card{
          width:44%;
           }
      .navbar-dark .navbar-brand{
          margin-left:33%;
          }
}
 @media screen and (max-width:1200px) and (min-width:720px){
     #w3-sidebar{
         display:none;
     }
     #user{
        width:50%;
     }
     .dark{
         margin-top:6%;
     }
 }
</style>

<!--side bar-->
   <div id="w3-sidebar" class="w3-sidebar w3-bar-block w3-white w3-xxlarge  ui huge centered header" style="width:70px;">
        <div id="navcontainer">
        <a href="#home" class="w3-bar-item w3-button" title="home">
            <i class="fa fa-home"></i>
        </a>
        <% if(!currentuser){ %>
        <a href="/login" class="w3-bar-item w3-button" title="login">
            <i class="fas fa-user"></i>
        </a>
        <% } else{ %>
        <a href="/logout" class="w3-bar-item w3-button" title="logout <%= currentuser.username %>">
            <i style="color:red" class="fa fa-user"></i>
        </a> 
        <% } %>
        <a href="#categories" class="w3-bar-item w3-button" title="search categories">
            <i class="fa fa-search"></i>
        </a>
        <a href="mailto:chibuzor.ojukwu@gmail.com" class="w3-bar-item w3-button" title="mail us">
            <i class="fa fa-envelope"></i>
        </a>
        <a href="#footer" class="w3-bar-item w3-button" title="about">
            <i class="fa fa-globe"></i>
        </a> 
        </div>   
    </div>

   
<!--  jumbotron for small screen -->
<nav class="navbar navbar-expand-md  navbar-dark" style="background:white;border-bottom:0px solid white;">
  <!-- Brand -->
  <a class="navbar-brand" id="thanos" href="#" style:"font-weight:bolder;"> i services </a>

  <!-- Toggler/collapsibe Button -->
   <% if(!currentuser){ %>
     <a href="/login" class="navbar-right" title="login">
     <span><i class="fas fa-user"></i></span>
     </a>
   <% } else{ %>
     <a href="/user/<%= currentuser._id %>/profile" class="navbar-right" title="logout <%= currentuser.username %>">
     <span><b style="font-size:18px"><%= currentuser.username %> </b> <i style="color:darkblue" class="fas fa-user"></i></span>
     </a>   
   <% } %>
  </a>
</nav>
<!-- jumbotron for small screen -->

<!--  Jumbotron for large screen    -->
<div class="container" id="large">
  <div class="row" id="home">
    <div class="col-lg-6">
       <span style="text-align:left;color:green;" class="platformlogo"><span class="badge badge-dark " style="color:black;"><span class="eye"> i</span> Services</span></span>
    </div>
    <div class="col-lg-6">
        <% if(!currentuser){ %>
                <span id="user" style="color:black;margin-left:55%;"><span class="badge badge-dark dark" style="color:black;font-size:28px;"><a href="/login" id="loginlogo">login </a> <a style="padding-left:30px" href="signup" id="loginlogo"> signup</a></span></span>
                
        <% } else{ %>
                <span id="user" style="color:black;margin-left:55%;"><span class="badge badge-dark dark" style="color:black;font-size:29px"><a href="/user/<%= currentuser._id %>/profile" title="view profile"><i class="fas fa-user-circle"></i><%= currentuser.username %></a></span></span>
        <% } %>
    </div>
  </div>
</div>
<!-- <div class="jumbotron  d-none d-sm-block" id="home">
       <h1 style="text-align:center;color:green" class="platformlogo"><span class="badge badge-dark ui huge centered header shadow-lg"><span class="eye"> i</span> Services</span></h1>
</div> -->
<!--  jumbotron for large screen -->

<!-- navbar for small screen -->
<nav class="navbar navbar-expand-md  navbar-dark" style="background:white;">
  <!-- Brand -->
  <a class="navbar-brand" href="#" style:"font-weight:bolder">Categories</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <% for(var i = 0;i<category.length;i++){ %>
      <li class="nav-item">
        <a class="nav-link" href="/category/<%= category[i].category %>/pos/<%= i %>"><%= category[i].category %></a>
      </li>
    <% } %>
    </ul>
  </div> 
</nav>
<!-- navbar for small screen -->

<!-- carousel -->
<div id="carousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="img-fluid" style="width:100%" src="https://askbootstrap.com/preview/osahan-fashion/images/slider/slider2.jpg" alt="Los Angeles"> 
    </div>
    <div class="carousel-item">
      <img class="img-fluid" style="width:100%" src="https://askbootstrap.com/preview/osahan-fashion/images/slider/slider3.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img class="img-fluid" style="width:100%" src="https://askbootstrap.com/preview/osahan-fashion/images/slider/slider1.jpg" alt="New York">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- carousel -->
<br>
<br>
<br>
<!-- Blockquote -->

<div class="container">
    <div class="row">
        <div class="col-lg-3 quote">
         <a href="/signup">
            <blockquote class="blockquote1 ui huge centered header">
                <p style="margin-left:18px;"> <i class="icon fas fa-pencil-alt" style="font-size:40px;margin-left:10%;margin-top:5%;color:blue"></i></p>
                <footer style="margin-left:18px;font-size:15px;font-family: Aldrich;">Register with us</footer>
            </blockquote>
         </a>
        </div>
        <div class="col-lg-3 quote">
         <a href="/signup">
            <blockquote class="blockquote1 ui huge centered header">
                <p style="margin-left:18px"><i class="icon fas fa-address-book" style="font-size:40px;margin-left:10%;margin-top:5%;color:blue"></i></p>
                <footer style="margin-left:18px;font-size:15px;font-family: Aldrich;">Create an account</footer>
            </blockquote>
         </a>
        </div>
        <div class="col-lg-3 quote">
         <a href="/signup">
            <blockquote class="blockquote2 ui huge centered header">
                <p style="margin-left:18px"><i class="icon fas fa-file" style="font-size:40px;margin-left:10%;margin-top:5%;color:blue"></i></p>
                <footer style="margin-left:18px;font-size:15px;font-family: Aldrich;">Get a show page</footer>
            </blockquote>
         </a>
        </div>
         <div class="col-lg-3 quote">
         <a href="#categories">
            <blockquote class="blockquote2 ui huge centered header">
                <p style="margin-left:18px"><i class="icon fas fa-search" style="font-size:40px;margin-left:10%;margin-top:5%;color:blue"></i></p>
                <footer style="margin-left:18px;font-size:15px;font-family: Aldrich;">Find a service</footer>
            </blockquote>
         </a>
        </div>
    </div>
</div>


<!-- Blockquote -->
<br>
<br>

<!-- categories for big screen -->
<div class="container" id="categories">
 <div class="row">
  <div class="col-lg-4 d-none d-sm-block" id="categoryhide">
  <br>
  <h2 style="text-align:center;font-family:Nixie One;font-size:30px" class="cathead ui huge centered header shadow-lg  wow bounce"><b>Categories</b></h2><br>  
    <ul class="list-group cathead ui huge centered header shadow-lg">
    <% for(var i = 0;i<category.length;i++){ %>
      <a href="/category/<%= category[i].category %>/pos/<%= i %>"><li class="list-group-item"><%= category[i].category %></li></a>
    <% } %>
    </ul>
  </div>
<!-- categories for big screen -->


<!-- Top services for small screen  -->


<div class="container" id="scrollmenu" >
  <div class="row">
     <h5 id="topsmallscreen" style="font-weight:bolder">Top Services</h5>
<div class="scrollmenu">
  <% for(var i = 0;i<category.length;i++){ %>
  <a href="/user/<%= category[i].user[0]._id %>">
     <div class="cardsmall" style="width:100%;">
        <img src="https://imgur.com/I80W1Q0.png" alt="Avatar" style="width:100%">
        <div class="containersmall" style="color:black;font-weight:bold">
          <%= category[i].user[0].user %> 
        </div>
     </div>
  </a>
  <% } %>
</div>
  </div>
</div>
 

<!-- Top services for small screen  -->


<!-- Top services for big screen -->
  <div class="col-lg-8 topservices">
  <br>
  <h2 style="text-align:center;font-family: Nixie One;" class="ui huge centered header shadow-lg" id="topservice"><b style="font-weight:bolder">Top-services</b></h2><br>
   <div class="flex-container">
   <div class="ui link cards">
    <% for(var i = 0;i<category.length;i++){ %>
  
    <div class="card ui huge centered header shadow-lg" id="card">
       <div class="image">
         <img src="./uploads/<%= category[i].user[0].image %>"  alt="Open your page and add icon image">
       </div>
       <div class="content">
         <div class="header">
         <%= category[i].user[0].user %>
         </div>
         <div class="meta">
           Top Service
         </div>
         <div class="description">
            <%= category[i].category %>
         </div>
        </div>
        <div class="extra content">
           <div class="ui two buttons">
              <a href="/user/<%= category[i].user[0]._id %>"> <div style="color:black;" class="ui green fluid button">more</div></a>
           </div>
        </div>
    </div>
  
    <% } %>
    </div>
    </div>
    </div>
<!-- Top services for big screen -->

 </div>
</div>
<br>
<br>
<hr>
<% if(!currentuser){ %>
<div><div>
<% } else{ %>
<div class="container" id="newcategory">
  <div class="row">
  <div class="col-lg-12">
  <h2 style="text-align:center;" class="ui huge centered header shadow-lg"><b>Add-New-Category</b></h2>  
    <form class="form-group" method="POST" action="/">
        <label for="category">Category</label>
        <input type="text" name="category" id="category" class="form-control ui huge centered header shadow-lg" placeholder="category" required>
        <br>
        <label for="services">Services</label>
        <input id="services" type="text" class="form-control ui huge centered header shadow-lg"  name="services" placeholder="services">
        <br>
        <button class="btn btn-info ui huge centered header shadow-lg" style="width:100%; background:green;color:black">Submit</button>
    </form>
    </div>
  </div>
</div>
<% } %>
<div class="jumbotron text-center" style="margin-bottom:0px;background:black; id="footer">
  <p style="color:white;font-size:20px;">Stay with us : </p>
<button class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</button>
<button class="ui twitter button">
  <i class="twitter icon"></i>
  Twitter
</button>
<button class="ui google plus button">
  <i class="google plus icon"></i>
  Google Plus
</button>
<button class="ui linkedin button">
  <i class="linkedin icon"></i>
  LinkedIn
</button>
<button class="ui instagram button">
  <i class="instagram icon"></i>
  Instagram
</button>
</div>

<% include ./partials/footer %>