<% include ./partials/header %>
 <% if(user){ %>
 <div class="container-fluid">
     <div class="jumbotron bg-dark">
     <h1 style="text-align:center;color:white"><%= user.user %></h1>
     </div>
     <div class="row">
         <div class="col-lg-12">
             <ul class="list-group">
                 <% for(var i = 0;i<user.services.length;i++){ %>
                 <li class="list-group-item">
                 <%= user.services[i].services %>
                 </li>
                 <% } %>
             </ul>
             <br>
             <div class="container">
                 <h2>Images</h2>            
                 <% for(var i = 0;i<user.services.length;i++){ %>
                 <%  if(user.services[i].image){ %>
                 <img src="../uploads/<%= user.services[i].image %>" class="img-thumbnail img-fluid" style="width:33%;height:200px;"> 
                 <% } else{ %>
                  <% } %>
                 <% } %>
             </div>
            <a href="/" class="btn btn-info">go back</a>
            <br>
            <br>
             <form method="POST" action="/category/<%= user._id %>/delete?_method=DELETE">
                   <button class="btn btn-danger">Delete</button> 
                 </form> 
         </div>
     </div>
<% }else{} %>
     <br>
     <% if(currentuser && currentuser.username == user.user){ %>
     <div class="jumbotron bg-dark">
         <h4 style="text-align:center;color:white">Add Service</h4>
     </div>
     <div class="col-lg-12">
         <form class="form-group" method="POST" action="/user/<%= user._id %>/services" enctype="multipart/form-data">
          <h1>Add Page Images</h1>  
         <input class="form-control" type="text" name="service" placeholder="Add Services">
             <br>
             <input type="file" name="myImage" class="form-control">
             <br>
             <input type="submit" value="Add" class="btn btn-primary">
         </form>
         <br>
         <br>
         <form class="form-group" method="POST" action="/user/<%= user.id %>/image" enctype="multipart/form-data">
         <h1 style="text-align:center">Upload Icon Image</h1>
             <input type="file" name="myImage1" class="form-control">
             <input type="submit" value="upload" class="btn btn-primary">             
         </form>
     </div>
     <% } else{ %>
         <h2></h2>
     <% } %>
 </div> 

<% include ./partials/footer %>